<!-- BEGIN: main -->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="es"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
	
    <meta charset="utf-8">
  	<meta name="author" content="{__META_AUTHOR__}">
  	<meta name="description" content="{__META_DESCRIPTION__}" />
    <meta name="keywords" content="{__META_KEYWORDS__}" />
	<meta name="robots" content="index, follow" />
  	<meta name="viewport" content="width=device-width,maximum-scale=1">
    
    <!-- BEGIN: style -->
    <link href="{__STYLE_URL__}" rel="stylesheet" type="text/css" media="{__STYLE_MEDIA__}">
    <!-- END: style -->

	<link rel="shortcut icon" href="{__SITE_DOMAIN__}images/favicon.ico" type="img/ico" >
    
    <script src="{__SITE_DOMAIN__}js/vendor/modernizr-2.6.2.min.js"></script>

	<title>{__SECTION_TITLE__} | {__SITE_TITLE__}</title>
    
</head>

<body>
	
    <!-- BEGIN: messages -->
	<aside id="main-messages" class="{__MESSAGE_TYPE__}">
    	<ul>
        	<!-- BEGIN: message -->
        	<li>{__MESSAGE_TEXT__}</li>
            <!-- END: message -->
        </ul>
    </aside>
    <!-- END: messages -->
    
    <header>
    	<div class="main-wrapper clearfix">
       		<figure id="main-logo"><a href="http://{__WEBSITE_URL__}"><img src="{__SITE_DOMAIN__}images/logo.png" alt="logo"></a></figure>
            <h1>{__SECTION_TITLE__}</h1>
        </div>
    </header>
    
    <div id="main-content" class="clearfix">
    	<div class="main-wrapper">
        	{__CONTENT__}
        </div>
    </div>
    
    <footer>
    	<div class="main-wrapper clearfix">
        	<div class="column-left">
        		<figure id="footer-logo"><a href="#"><img src="{__SITE_DOMAIN__}images/logo.png" alt="logo"></a></figure>
                <section id="complementary" class="column-left">
                	<p id="copyright">Copyright {__CURRENT_YEAR__} por Empresa. Todos los derechos reservados.</p>
                    <nav id="footer-navigation">
                    	<a href="http://{__WEBSITE_URL__}" target="_blank">{__WEBSITE_URL__}</a>
                        <a href="{__SITE_DOMAIN__}terminos-y-condiciones.html" class="policy-link">términos y condiciones</a>
                    </nav>
                </section>
            </div>
            <div class="column-right">
            	<section id="footer-networks" class="clearfix">
            		<h3 class="column-left">Síguenos</h3>
                    <ul class="clearfix">
                    	<li><a href="{__WEBSITE_FACEBOOK__}" class="facebook" target="_blank"><img src="{__SITE_DOMAIN__}images/facebook-sprite.png" alt="Facebook"></a></li>
                        <li><a href="{__WEBSITE_TWITTER__}" class="twitter" target="_blank"><img src="{__SITE_DOMAIN__}images/twitter-sprite.png" alt="Twitter"></a></li>
                        <li><a href="{__WEBSITE_GPLUS__}" class="google" target="_blank"><img src="{__SITE_DOMAIN__}images/gplus-sprite.png" alt="Google plus"></a></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
    
	
      
    
    <script src="{__SITE_DOMAIN__}js/vendor/jquery-1.10.2.min.js"></script>
    <script src="{__SITE_DOMAIN__}js/vendor/jquery.placeholder.js"></script>
    <script src="{__SITE_DOMAIN__}js/vendor/fancybox/jquery.fancybox.js"></script>

    <script src="{__SITE_DOMAIN__}js/main.js"></script>
    <!-- BEGIN: script -->
    <script src="{__SCRIPT_URL__}"></script>
    <!-- END: script -->
    

</body>
</html>
<!-- END: main -->